@font-face {
    font-family: 'Akashi';
    src: url('../fonts/Akashi.eot');
    src: url('../fonts/Akashi.woff2') format('woff2'),
    url('../fonts/Akashi.woff') format('woff'),
    url('../fonts/Akashi.ttf') format('truetype'),
    url('../fonts/Akashi.svg#Akashi') format('svg'),
    url('../fonts/Akashi.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Akashi', sans-serif;
    font-size: 100%;
    color: white;
    letter-spacing: 1px;
}

.dv-img {
    width: 92%;
    background-size: cover;
    background: no-repeat center;
    border: 1px solid white;
    margin-bottom: .5em;
}

.dv-col {
    text-align: center;
}

.dv-header, .dv-footer {
    height: 218px;
	width: 100%;
    line-height: 218px;
    font-size: 4em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.dv-header {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid white;
}

.dv-footer {
    border-top: 1px solid white;
}

.dv-excited-text {
    font-size: 3em;
    margin: 0.5em 0;
}

/* DiVision content, DiVision container. Great names */
.dv-content {
	background-color: rgba(0, 0, 0, 0.65);
    position: relative;
    z-index: 2;
	min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dv-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.store-btn {
	height: 89px;
}

.dv-install-buttons {
    text-align: center;
	margin-bottom: 0.9em;
}

.dv-install-buttons > a {
    display: inline-block;
    text-decoration: none;
    margin: .5em 0;
}

.dv-install-buttons > a > img {
	max-width: 320px;
}

.banner {
	max-width: 100%;
}
